/* # Services
---------------------------------------------------------------------------------------------------- */

.block-page-services-listmenu{
    padding-top:var(--margin-l);
    padding-bottom: var(--margin-l);
    .wrap{
        width: 100%;
        max-width: var(--content-width);
        .entry-title{
            font-family: var(--font-light);
            // font-size: var(--font-size-h4);
            font-size: clamp(var(--font-size-m), 4vw, var(--font-size-h4));
            color: var(--color-primary);
            text-transform: uppercase;
            letter-spacing: -0.04em;
        }
        ul{
            margin: var(--margin-xxs) 0 0 0;
        }
        li{
            list-style: none;
        }
        a{
            font-family: var(--font-bold);
            font-size: clamp(var(--font-size-l), 4vw, var(--font-size-xxl));
            color: var(--color-shade);
            &:hover,
            &:active{
                text-decoration: none;
            }
        }
    }
}